.navigations {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #E4E7E7;
    overflow-x: auto;
}

.navigation {
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 50px;
    color: rgba($color: #4F4F4F, $alpha: 0.3);
    border-bottom: 4px solid transparent;
}

.navigation--active {
    @extend .navigation;
    border-bottom: 4px solid #17948C;
    color: #17948C;
}